{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Blog</title>

        <link rel='stylesheet' href='../css/main.css'>
        <link rel='shortcut icon' href='../images/image.png' type='image/x-icon'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1><a href='/'>Blog</a></h1>
        </header>
        <nav>
            <a href='/'>Home page</a>
        </nav>
        <main>
            {{template "main" .}}
        </main>

            {{template "footer" .}}

            <script src="../js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}